h1 {
    text-align: center;
    font-size: 50px;
  }

.energy {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#buttonEnergyDiv {
    text-align: center;
    margin-top: 35px;
}

.buttonEnergy {
    color: white;
    background-color: #555555;
    font-size: 24px;
    padding: 32px 32px;
    border-radius: 40%;
    border: 2px solid #cdd6cd;
}

.buttonEnergy:hover {
    background-color: #343434;
}

.buttonEnergy:active {
    background-color: #343434;
    transform: translateY(1px);
    border: 2px solid #374437;
}

#energyCollected {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

